/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
  color: #fff;
}


/* Custom default button */
 .responsive-image {
	 width: 100%;
}
 .tool-support-animation-container {
	 position: relative;
	 margin: 0 auto;
   padding-top: 200px;
	 width: 291px;
	 height: 247px;
}
 .tile-slide-down {
	 transition: opacity 700ms ease-out, transform 700ms ease-out;
}
 .tile-slide-down--top {
	 transform: translate(0, -25px);
	 opacity: 0;
}
 .tile-slide-down--bottom {
	 transform: translate(0, 0);
	 opacity: 1;
}
 .shadow-grow {
	 transition: opacity 700ms ease-out, transform 700ms ease-out;
	 transform-origin: center bottom;
}
 .shadow-grow--inactive {
	 transform: scale(0) translate(0, -10px);
	 opacity: 0;
}
 .shadow-grow--active {
	 transform: scale(1) translate(0, 0px);
	 opacity: 1;
}
 .deployment-tile-container {
	 position: relative;
	 z-index: 2;
	 cursor: pointer;
}
 .deployment-tile-container:hover {
	 transform: translate(0, -10px);
}
 .deployment-tile-container:hover + .deployment-shadow-container .shadow-grow {
	 transform: scale(0.9) translate(0, -3px);
}
 .deployment-tile {
	 position: absolute;
	 height: 34px;
	 width: 89px;
}
 .deployment-tile--fake {
	 top: 0;
	 left: 7px;
}
 .deployment-tile--rake {
	 top: 73px;
	 left: 4px;
}
 .deployment-tile--grunt {
	 top: 146px;
	 left: 5px;
}
 .deployment-tile--bamboo {
	 top: 36px;
	 left: 68px;
}
 .deployment-tile--git {
	 top: 108px;
	 left: 68px;
}
 .deployment-tile--capistrano {
	 top: 183px;
	 left: 68px;
}
 .deployment-tile--octopus {
	 top: 72px;
	 left: 133px;
}
 .deployment-tile--api {
	 top: 146px;
	 left: 132px;
}
 .deployment-tile--heroku {
	 top: 35px;
	 left: 196px;
}
 .deployment-tile--konsole {
	 top: 109px;
	 left: 195px;
}
 .deployment-tile--powershell {
	 top: 182px;
	 left: 195px;
}
 .deployment-shadow-container {
	 position: relative;
	 z-index: 1;
}
 .deployment-shadow {
	 position: absolute;
	 height: 34px;
	 width: 89px;
}
 .deployment-shadow--fake {
	 top: 9px;
	 left: 8px;
}
 .deployment-shadow--rake {
	 top: 82px;
	 left: 5px;
}
 .deployment-shadow--grunt {
	 top: 155px;
	 left: 6px;
}
 .deployment-shadow--bamboo {
	 top: 45px;
	 left: 69px;
}
 .deployment-shadow--git {
	 top: 117px;
	 left: 69px;
}
 .deployment-shadow--capistrano {
	 top: 191px;
	 left: 69px;
}
 .deployment-shadow--octopus {
	 top: 81px;
	 left: 134px;
}
 .deployment-shadow--api {
	 top: 154px;
	 left: 133px;
}
 .deployment-shadow--heroku {
	 top: 44px;
	 left: 197px;
}
 .deployment-shadow--konsole {
	 top: 118px;
	 left: 196px;
}
 .deployment-shadow--powershell {
	 top: 191px;
	 left: 196px;
}
 
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  background: linear-gradient(rgba(1,0,1,1.9), rgba(1,0,100,0.25)), url("");
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/* Padding for spacing */

.inner {
  padding: 2rem;
}


/*
 * Header
 */

.cover-heading {
  font-weight: 300;
  font-size: 300%;
}

.lead { font-size: 200%; }


.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  padding-left: .55rem;
    padding-right: .55rem;

  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: white;
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}